In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
dfxt = pd.read_csv('Diabetes_XTrain.csv')
dfy = pd.read_csv('Diabetes_YTrain.csv')
dfx = pd.read_csv('Diabetes_Xtest.csv')

In [13]:
dfxt

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23
...,...,...,...,...,...,...,...,...
571,2,111,60,0,0,26.2,0.343,23
572,7,187,68,39,304,37.7,0.254,41
573,2,122,60,18,106,29.8,0.717,22
574,4,154,72,29,126,31.3,0.338,37
575,1,88,78,29,76,32.0,0.365,29

In [14]:
dfy

     Outcome
0          1
1          0
2          1
3          1
4          0
..       ...
571        0
572        1
573        0
574        0
575        0

[576 rows x 1 columns]

In [15]:
XTR = dfxt.values
X = dfx.values
Y = dfy.values

print(X.shape)
print(Y.shape)

(192, 8)
(576, 1)

In [16]:
def distance(p1,p2):
    return np.sum((p2 - p1)**2)**.5

def knn(X,Y,test,k=5):
    m = X.shape[0]
    
    vals = []
    for i  in range(m):
        dist = distance(test,X[i])
        vals.append((dist,Y[i]))
    
    vals = np.array(sorted(vals))[:,1]
    vals = vals[:k]
    t =  np.unique(vals,return_counts=True)
    idx = np.argmax(t[1])
    pred = int(t[0][idx])
        
    return pred

In [17]:
diabetes ={"RESULT": []}

In [18]:
for i in range(X.shape[0]):
    test_data = X[i]
    ans = knn(XTR,Y,test_data,k=17)
    diabetes["RESULT"].append(ans)

/var/folders/_c/gkckcbf93qxd8msvcb6xnk3m0000gn/T/ipykernel_821/2017349772.py:12: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  vals = np.array(sorted(vals))[:,1]

In [19]:
print(diabetes)

{'RESULT': [1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0]}

In [20]:
prediction = pd.DataFrame(diabetes)
prediction.to_csv('prediction.csv',index = False)